<button class="margin-right" (click)="montrerListe()">Voir le liste des restaurants</button>

<button class="margin-right" (click)="addRestaurant()">Ajouter un restaurant</button>

<button class="margin-right margin-bottom fond" (click)="effacer()">Effacer la liste</button>

<div *ngIf="(restaurant$ | async) !== initialState">
  <span class="gras">Voici : </span>
  Nom : {{ (restaurant$ | async).nom }} | Note : {{ (restaurant$ | async).note }} / 5
</div>
<div *ngIf="(restaurant$ | async) === initialstate" class={{class}}>
  <span class="gras">Voici : </span>
  <span class="italique">cliquez pour voir la liste des restaurants</span>
</div>

<div>
  <h1>ICI : </h1>
  <ul>
    <li *ngFor="let restaurant of (restaurant$ | async | json)">{{ restaurant }}</li>
  </ul>
</div>