<button class="margin-right" (click)="increment()">Incrementer</button>

<button class="margin-right" (click)="decrement()">Decrementer</button>

<button class="margin-right" (click)="couleur()">Couleur</button>

<button class="margin-right" (click)="afficher()">Afficher</button>

<button class="margin-left margin-bottom fond" (click)="reset()">Effacer</button>

<div class='{{(count$|async).color}}'><span class="gras">Etat actuel dans le store : </span>{{(count$ | async).data}}</div>
<br />
<img class='{{(count$|async).afficher}}' src="assets/images/victory.png" />
